 
#searchForm, #studentTable, #studentInfoForm {  
    border: 2px solid red;  
    margin: 20px auto;
    padding: 10px;
    width: 50%;
}  

#searchForm label, #studentInfoForm div label {  
    background-color: rgb(245, 245, 245);  
    
}  

#searchForm button, th, #studentInfoForm button {  
    background-color: red;  
    color: white;
}  

table{  
    border: 2px solid black;
    width: 100%;
}

td {
    text-align: center;
}

.required::after {
    content: "*";
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

.form-group button {
    width: 100px;
    margin: 0px 20px;
}

#studentTable button {
    margin: 20px 10px;
}